<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Escola Octógono</span>

        <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/classroom">Turmas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/teacher">Professores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/student">Alunos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lesson">Aulas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/auth">Autenticar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
