<div class="row">
    <div class="col-xs-10">
        <p>Alunos</p>
        <button type="button" class="btn btn-primary" routerLink="new" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Adicionar
        </button>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sala de aula</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.studentName }}</td>
                    <td>{{ student.classroom.classroomName }}</td>
                    <td><a href="" [routerLink]="student.id" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Editar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
