<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ isEditMode ? 'Editar' : 'Adicionar' }}</h1>
    <button type="button" class="btn-close" routerLink="/salas" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSaveClassroom(f)" #f="ngForm">
        <div class="mb-3">
            <label for="classroomName" class="col-form-label">Nome da sala de aula:</label>
            <input type="text" id="classroomName" class="form-control" name="classroomName" [ngModel]="classroomName">
        </div>
        <button type="submit" hidden #btn></button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" routerLink="/salas" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    <button type="button" (click)="btn.click()" class="btn btn-primary">Salvar</button>
</div>
